:root {
  --btn-padding: 8px 15px;
  --btn-border-color: #ddd;
  --btn-radius: 4px;
}

@mixin btn {
  padding: var(--btn-padding);
  border-color: var(--btn-border-color);
  border-width: 1px;
  border-style: solid; 
  border-radius: var(--btn-radius);
  outline: none;
  cursor: pointer;
}