:root {
  --nav-columns-margin: 0 8px;
}

.form-nav {
  > .column {
    margin: var(--nav-columns-margin);

    &:first-child {
      margin-left: 0;
      flex: 1;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .search-url {
    flex: 1;
  }
}

